node_modules
*.swp
*.swo
.DS_Store
npm-debug.log
!config/*.json.example
config/*.json
!config/facs/*.json.example
config/facs/*.json
!config/*.js.example
config/*.js
!config/facs/*.js.example
config/facs/*.js
status
logs
sec
store
status
package-lock.json
coverage
