name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [ "opened", "reopened", "synchronize" ]

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18.x
    - name: Run Setup Script
      run: ./setup-config.sh
    - name: Install Dependencies
      run: npm install
    - name: Run Tests
      run: npm test
